<!-- Dynamic Navbar Switch -->
<ng-container
  *ngTemplateOutlet="(isMobileScreen$ | async) ? mobileAppBar : desktopNavbar"
>
</ng-container>

<!-- Mobile Bottom App Bar -->
<ng-template #mobileAppBar>
  <nav class="d-block d-lg-none fixed-bottom p-3 shadow">
    <div class="container-fluid">
      <ul class="list-group list-group-horizontal">
        <li
          *ngFor="let item of navMenu; trackBy: trackByFn"
          class="list-group-item flex-fill border-0 text-center"
        >
          <a
            [routerLink]="[item.url]"
            routerLinkActive="router-link-active"
            [routerLinkActiveOptions]="{ exact: true }"
            class="gap-1 py-2"
          >
            <i [ngClass]="item.icon" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</ng-template>

<!-- Desktop Navbar -->
<ng-template #desktopNavbar>
  <nav class="navbar navbar-expand-lg navbar-light p-3">
    <div class="container-lg d-flex justify-content-between">
      <!-- Brand -->
      <a
        [routerLink]="['/']"
        class="navbar-brand fw-bold"
        routerLinkActive="router-link-active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Conduit
      </a>

      <!-- Navigation Items -->
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li *ngFor="let item of navMenu; trackBy: trackByFn">
            <!-- Dropdown for User Menu -->
            <ng-container *ngIf="item.subNav?.length; else regularNavItem">
              <ng-container
                *ngTemplateOutlet="userMenuDropdown; context: { item: item }"
              >
              </ng-container>
            </ng-container>

            <!-- Regular Navigation Items -->
            <ng-template #regularNavItem>
              <a
                [routerLink]="[item.url]"
                routerLinkActive="router-link-active"
                [routerLinkActiveOptions]="{ exact: true }"
                class="nav-link d-flex align-items-center gap-2"
              >
                <i [ngClass]="item.icon"></i>
                {{ item.label }}
              </a>
            </ng-template>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</ng-template>

<!-- User Menu Dropdown Template -->
<ng-template #userMenuDropdown let-item="item">
  <ng-container *ngIf="currentUser; else loginLink">
    <div class="dropdown">
      <div
        role="button"
        id="userMenuDropdown"
        data-bs-toggle="dropdown"
        [attr.aria-expanded]="false"
        class="nav-link dropdown-toggle d-flex align-items-center gap-2"
      >
        <i [ngClass]="item.icon"></i>
        {{ item.label }}
      </div>

      <ul class="dropdown-menu" aria-labelledby="userMenuDropdown">
        <ng-container
          *ngFor="
            let subItem of item.subNav;
            trackBy: trackByFn;
            let isLast = last
          "
        >
          <li>
            <hr *ngIf="isLast" class="dropdown-divider" />
            <a
              class="dropdown-item my-2"
              [routerLink]="subItem.url"
              (click)="isLast && subItem.func()"
            >
              <i [ngClass]="subItem.icon"></i>
              {{ subItem.label }}
            </a>
          </li>
        </ng-container>
      </ul>
    </div>
  </ng-container>

  <ng-template #loginLink>
    <a
      [routerLink]="[item.url]"
      routerLinkActive="router-link-active"
      [routerLinkActiveOptions]="{ exact: true }"
      class="nav-link d-flex align-items-center gap-2"
    >
      <i [ngClass]="item.icon"></i>
      {{ item.label }}
    </a>
  </ng-template>
</ng-template>
